[build]
target = "src/wwwroot/index.html"
dist = ".output/dist"

[watch]
watch = ["src/"]

[[hooks]]
stage = "post_build"
command = "cargo"
command_arguments = ["script",  "src/meta/hooks/post_build"]